.collection-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.collection-header{
    color: #fff;
    width: 100%;
    display: flex;
    position: relative;   
    height: 30dvh;
    overflow: hidden;
}

.collection-header-banner{
    width: 100%;
    height: 100%;
    object-fit:fill;  
    display: block;
}

.collection-header-overlay{
    padding: 1rem;
    position: absolute;   
    bottom: 0;
    left: 0; 
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
    width: 100%;
    pointer-events: none;    
    z-index: 2;
}

.collection-content{
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.collection-content-nfts{
    padding: 0 clamp(1rem, 2vw, 10rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.collection-content-nfts-item{
    position: relative;
    width: 100%;
    height: clamp(100px, 50vw, 200px);
    border-radius: clamp(0.5rem, 2vw, 1rem);
    border: #000 2px solid;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.25);
    
}

.collection-content-nfts-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
}

.collection-content-nfts-item:active {
    transform: scale(0.95); 
}

.collection-content-nfts-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transition: all 0.2s ease-in-out;
}

.collection-content-nfts-item:hover img {
    filter: brightness(0);
}

.collection-content-nfts-item p {
    position: absolute;    
    z-index: 2;
    inset: 0;                
    margin: 0;
    padding: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
}

.collection-content-nfts-item:hover p {
    transform: translateY(0);
}

.collection-content-nfts-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection-content-stats{
    color: #fff;
    width: 50%;
}