.collection-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.collection-header{
    color: #fff;
    width: 100%;
    display: flex;
    position: relative;   
    height: 30dvh;
    overflow: hidden;
}

.collection-header-banner{
    width: 100%;
    object-fit: cover;  
}

.collection-header-overlay{
    padding: 1rem;
    position: absolute;   
    bottom: 0;
    left: 0; 
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1));
    width: 100%;
    pointer-events: none;    
    z-index: 2;
}

.collection-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    color: #fff;
}

.collection-content-nfts{
    padding: 0 clamp(1rem, 2vw, 10rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    width: 100%;
}

.collection-content-nfts-item{
    position: relative;
    width: 100%;
    height: clamp(100px, 50vw, 200px);
    border-radius: clamp(0.5rem, 2vw, 1rem);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-content-nfts-item:hover {
    transform: scale(1.05); 
}

.collection-content-nfts-item:active {
    transform: scale(0.95); 
}

.collection-content-nfts-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;    
    transition: all 0.2s ease-in-out;
}

.collection-content-nfts-item:hover img {
    filter: brightness(0);
}

.collection-content-nfts-item:hover .collection-content-nfts-item-text {
    transform: translateY(0);
}

.collection-content-nfts-item-text {
    position: absolute;    
    gap: 0.5rem;
    z-index: 2;
    inset: 0;                
    margin: 0;
    padding: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(100%);
    transition: all 0.2s ease-in-out;
}

.collection-content-stats{
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 100%;
}

.collection-content-stats-item{
    display: flex;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    text-align: center;
}

.hourly-events-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    font-size: clamp(12px, 0.9vw, 14px);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #9ca3af;
}


.hourly-events-wrapper {
    max-height: clamp(200px, 40vh, 500px);
    overflow-y: auto;
    padding-inline: clamp(1rem, 4vw, 10rem);
}

.hourly-chart-wrapper {
    max-height: clamp(200px, 40vh, 500px);
    overflow-y: auto;
    margin-inline: clamp(1rem, 4vw, 10rem);
    border: 1px solid #9ca3af;
    border-radius: 12px;
    background-color: #111827;
    padding: 0.5rem;
}


.hourly-events-table thead th {
    background: #111827;
    padding: 10px;
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid #9ca3af;
    position: sticky;
    top: 0;
    z-index: 1;
}

.hourly-events-table tbody tr {
    background: rgb(45, 63, 102);
}

.hourly-events-table tbody tr:hover {
    background: #4a68a8;
}

.hourly-events-table td {
    padding: 8px 10px;
    border-bottom: 1px solid #9ca3af;
    white-space: nowrap;
}

.sender-link {
  color: inherit;
}
