.dashboard-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.dashboard-header{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-collections-section {
    padding: 0 clamp(1rem, 2vw, 10rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.dashboard-collection-card {
    width: 100%;
    height: clamp(300px, 50vw, 400px);
    border-radius: clamp(0.5rem, 2vw, 1rem);
    border: #000 2px solid;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.25);
}

.dashboard-collection-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);

}

.dashboard-collection-card:active {
    transform: scale(0.95); 
}

.dashboard-collection-image {
    border-bottom: #000 2px solid;
    inset: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
    background: #fff;
}

.dashboard-collection-name {
    display: block;     
    padding: 0.5rem 1rem;    
    line-height: 2rem;    
    white-space: nowrap;
    width: 100%;
    height: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    justify-content: center;
    color: #000;
    background: #fff;
    flex: 0 0 auto;  
    min-width: 0; 
}