.dashboard-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.dashboard-header h1 {
    font-size: clamp(1.75rem, 3vw, 3rem);
    line-height: 1.2;
}

.dashboard-header h2 {
    font-size: clamp(.75rem, 1.8vw, 1.75rem);
    line-height: 1.35;
}

.dashboard-header{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-collections-section {
    max-width: 1000px;
    width: 100%;

    padding: 0 clamp(1rem, 2vw, 4rem);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}


.dashboard-collection-card {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: clamp(0.5rem, 2vw, 1rem);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-collection-card:hover {
    transform: scale(1.05); 
}

.dashboard-collection-card:active {
    transform: scale(0.95); 
}

.dashboard-collection-image {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}